<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1057714025390-e1lssoegmvvnipsmkoahta4v0gikol8r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1057714025390-e1lssoegmvvnipsmkoahta4v0gikol8r</string>
	<key>API_KEY</key>
	<string>AIzaSyC6bZ1rbxxAktY8f3dFfR3O8rcfXFNnH_0</string>
	<key>GCM_SENDER_ID</key>
	<string>1057714025390</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.moskaApp</string>
	<key>PROJECT_ID</key>
	<string>moska-fbb04</string>
	<key>STORAGE_BUCKET</key>
	<string>moska-fbb04.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1057714025390:ios:4664fcc6b1fd96d1704e3f</string>
	<key>DATABASE_URL</key>
	<string>https://moska-fbb04.firebaseio.com</string>
</dict>
</plist>